.v-application .history-list {
    list-style-type: none;
    padding: 0;
    height: 80.5rem;
    width: 86.6rem;
    background-color: #262626;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
}

.history-list__element {
    color: var(--v-secondary-base);
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem;
}

.history-list__element:first-child {
    border-radius: 0.8rem 0.8rem 0 0;
}

.history-list__element:nth-child(even) {
    background-color: var(--v-grey800-base);
}

.history-list__element:nth-child(odd) {
    background-color: #464646;
}

.history-list__element-icon.theme--dark.v-icon {
    color: var(--v-secondary-base);
    margin-left: auto;
    
}

.history-list__element-poster {
    margin-right: 6.5rem;
}

.history-list__element-text {
    font-size: var(--font-size-body-2);
    line-height: var(--font-line-height-body-2);
    font-weight: 400;
    color: var(--v-grey200-base);
}

.history-list__header {
    margin-bottom: 0.8rem;
    color: var(--v-grey100-base);
    font-size: var(--font-size-body-1);
    line-height: var(--font-line-height-body-1);
    font-weight: 400;
}

.history-list-wrapper {
    margin-top: 6.1rem;
}


.history-list__element-poster img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    opacity: 1;
}