.header-auth {
    position: relative;
}

.header-auth .v-overlay--absolute {
    top: 12rem;
    right: 0;
    left: auto;
    bottom: auto;
}

.header-auth .v-card__text {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-body-2);
    line-height: var(--font-line-height-body-2);
}

.header-auth .v-avatar {
    border-color: var(--v-grey200-base);
}

.phone .header-auth .v-avatar {
    width: 10rem !important;
    min-width: 10rem !important;
    height: 10rem !important;
}

.phone .header-auth .v-overlay--absolute {
    left: auto;
    right: -3rem;
}