.v-application .item-list {
    list-style-type: none;
    padding: 0;
}

.item-list__element {
    background-color: var(--v-grey200-base);
    color: var(--v-secondary-base);
    margin-bottom: 0.1rem;
}

.item-list__element-button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.6rem 2.4rem;
    outline: 0;
}

.item-list__element:first-child {
    border-radius: 0.8rem 0.8rem 0 0;
}

.item-list__element:last-child {
    border-radius: 0 0 0.8rem 0.8rem;
}

.item-list__element:only-child {
    border-radius: .8rem;
}

.selector:nth-child(even) {
    background: var(---v-grey200-base)
}

.selector:nth-child(odd) {
    background:var(---v-grey500-base)
}

.item-list__element-icon.theme--dark.v-icon,
.item-list__element-icon.theme--light.v-icon {
    color: var(--v-secondary-base);
    margin-left: auto;
    
}

.item-list__element-avatar {
    margin-right: 8.5rem;
}

.item-list__element-avatar img {
    width: 100%;
    height: auto;
}

.item-list__element-picture {
    max-width: 6rem;
    margin-right: 8.5rem;
}

.item-list__element-logo {
    margin-right: 2.4rem;
    background: var(--v-primary-base);
    border-radius: .8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.item-list__element-text {
    font-size: var(--font-size-body-2);
    line-height: var(--font-line-height-body-2);
    font-weight: 400;
    text-align: left;
}

.item-list__element-type {
    font-size: var(--font-size-body-4);
    line-height: var(--font-line-height-body-4);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: auto;
}

.tablet .image-grid__popup-content {
    padding-left: 3rem;
    padding-right: 3rem;
}

.tablet .item-list__element-picture,
.tablet .item-list__element-avatar {
    margin-right: 4rem;
}

.phone .item-list__element-text {
    font-size: var(--font-size-phone-body-3);
    line-height: var(--font-line-height-phone-body-3);
    font-weight: 400;
    margin-right: 1rem;
}

.phone .image-grid__popup-content {
    padding: 6rem 0 2rem;
}

.phone .item-list__element-avatar,
.phone .item-list__element-picture {
    margin-right: 2rem;
}

.phone .item-list__element-avatar {
    width: 5rem !important;
    min-width: 5rem !important;
    height: 5rem !important;
}

.phone .item-list__element {
    padding: 1rem 1.6rem;
    position: relative;
}

.phone .item-list__element-button {
    padding: 0;
}

.phone .item-list__element-type {
    position: absolute;
    top: .2rem;
    right: .5rem;
    font-size: 1rem;
}

.phone .item-list__element-logo {
    width: 10rem;
    height: 4rem;
    padding: 0 1rem;
    margin-right: 2rem;
}

.phone .item-list__element-logo img {
    max-height: 60%;
}