.session-user-selector {
    display: flex;
    padding-left: 5.5rem;
}

.session-user-selector__selected {
    display: inline-block;
}

.session-user-selector__selected-item,
.session-user-selector__selector {
    margin-left: -5.5rem;
    margin-bottom: -5.5rem;
}

.session-user-selector__selector.v-avatar {
    margin-left: -6rem;
    background-color: white;
    border-color: var(--v-secondary-base);
}

.session-user-selector__selector-icon.theme--dark.v-icon {
    color: var(--v-secondary-base);
}

.session-user-selector__popup-header {
    display: flex;
    align-items: center;
}

.v-application .session-user-selector__popup-header p {
    margin: 0 0 0 2rem;
}

.session-user-selector__popup-content {
    padding: 6rem 16rem 0;
}

.session-user-selector__popup-content--unauthorized {
    padding: 4rem 6rem;
}

.phone .session-user-selector__popup-header .v-avatar {
    width: 8rem !important;
    min-width: 8rem !important;
    height: 8rem !important;
}

.phone .session-user-selector__popup-header .v-avatar .v-icon {
    width: 4rem !important;
    height: 4rem !important;
}

.phone .session-user-selector__popup-content {
    padding: 5rem 1rem 0;
}

.phone .session-user-selector__popup-content--unauthorized {
    padding: 5rem 1rem 3rem;
}

.phone .session-user-selector {
    padding-left: 3.5rem;
}

.phone .session-user-selector__selected-item,
.phone .session-user-selector__selector {
    height: 8rem !important;
    width: 8rem !important;
    min-width: 8rem !important;
    margin-left: -3.5rem;
}

.phone .session-user-selector__selector-icon.v-icon {
    height: 4rem !important;
    width: 4rem !important;
}