.friends-selector {
    padding-left: 5.5rem;
}

.friends-selector__selected-item,
.friends-selector__selector {
    margin-left: -5.5rem;
}

.friends-selector__selector.v-avatar {
    background-color: white;
    border-color: var(--v-secondary-base);
}

.friends-selector__selector-icon.theme--dark.v-icon {
    color: var(--v-secondary-base);
}

.friends-selector__popup-header {
    display: flex;
    align-items: center;
}

.v-application .friends-selector__popup-header p {
    margin: 0 0 0 2rem;
}

.friends-selector__popup-content {
    padding: 6rem 16rem 0;
}

.friends-selector__popup-content--unauthorized {
    padding: 4rem 6rem;
}