.about-page {
    position: relative;
}

.about-page .page-header {
    position: absolute;
    top: 5rem;
    right: 4rem;
}

.about-page__content {
    display: flex;
    margin-top: 3rem;
}

.about-page__text {
    width: 63.8rem;
    margin-left: auto;
    margin-right: auto;
}

.about-page__text p {
    color: var(--v-grey200-base)
}

.about-page__text h2 {
   margin-bottom: 2.8rem;
}

.v-application .about-page__logo-link {
    color: white;
    text-decoration: none;
}