.page-home,
.page-home .v-content,
.page-home-content {
    height: 100%;
    overflow: hidden;
}

.page-home-content-bg {
    /* padding-left: 20%; */
    background-image: url(../../images/page-home-bg.jpg);
    background-size: cover;
    background-position: right top;
    position: absolute;
    left: 25rem;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-home-content {
    position: relative;
    z-index: 5;
}