.page-home,
.page-home .v-content,
.page-home-content {
    min-height: 100%;
}

.page-home .page-header {
    position: absolute;
    top: 5rem;
    right: 4rem;
}

.page-home-content-bg {
    /* padding-left: 20%; */
    background-image: url(../../images/page-home-bg.jpg);
    background-size: cover;
    background-position: right top;
    position: absolute;
    left: 25rem;
    right: 0;
    top: 0;
    bottom: 0;
}

.phone .page-home-content-bg {
    left: 0;
}

.page-home-content {
    display: flex;
    position: relative;
    z-index: 5;
}

.page-home-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    /* bottom: 0; */
    /* opacity: 0; */
}

.page-home-screen--1 {
    opacity: 0;
    bottom: 0;
}

.page-home-screen--1.page-home-screen--active {
    opacity: 1;
}

.page-home-screen--2 {
    min-height: 100%;
    z-index: 10;
    background-color: var(--v-bodyBg-base);
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.page-home-screen--2.page-home-screen--hidden {
    display: none;
}

.page-home-screen--2.page-home-screen--active {
    transform: translateX(0);
    height: auto;
}
