.profile-page {
    min-height: 100%;
    display: flex;
  
}

.profile-page .page-header {
    position: absolute;
    top: 5rem;
    right: 4rem;
    z-index: 3;
}

.profile-page-main {
    flex: 1 1 auto;
}

.profile-page-content .v-content__wrap {
    padding: 19.2rem 31.6rem;
}

.profile-page-blocks {
    margin: 0 10rem;
}

.tablet .profile-page-content .v-content__wrap {
    padding: 15rem 5rem 3rem;
}

.phone .profile-page-content .v-content__wrap {
    padding: 15rem 2rem 3rem;
}

.tablet .profile-page-blocks,
.phone .profile-page-blocks {
    margin: 0;
}

.tablet .profile-page,
.phone .profile-page {
    display: block;
}