.page-header {
    display: flex;
    align-items: center;
}

.page-header .header-auth {
    margin-left: 8.4rem;
    padding: 0 !important;
    height: 10rem !important;
}

.page-header .header-nav {
    margin-left: auto;
}

.phone .page-header .header-nav .link {
    font-size: var(--font-size-phone-body-3);
}

.phone .page-header .header-auth {
    height: 7rem !important;
    margin-left: 3rem;
}