.recommendation-box {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100%;
    padding-bottom: 8rem;
}

.recommendation-box__goback {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.phone .recommendation-box,
.tablet .recommendation-box {
    flex-flow: column;
    overflow: hidden;
}