.v-application .ma-0 {
    margin: 0 !important;
}
.v-application .ma-1 {
    margin: .4rem !important;
}
.v-application .ma-2 {
    margin: .8rem !important;
}
.v-application .ma-3 {
    margin: 1.2rem !important;
}
.v-application .ma-4 {
    margin: 1.6rem !important;
}
.v-application .ma-5 {
    margin: 2rem !important;
}
.v-application .ma-6 {
    margin: 2.4rem !important;
}
.v-application .ma-7 {
    margin: 2.8rem !important;
}
.v-application .ma-8 {
    margin: 3.2rem !important;
}
.v-application .ma-9 {
    margin: 3.6rem !important;
}
.v-application .ma-10 {
    margin: .4rem !important;
}
.v-application .ma-11 {
    margin: 4.4rem !important;
}
.v-application .ma-12 {
    margin: 4.8rem !important;
}
.v-application .ma-auto {
    margin: auto !important;
}
.v-application .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-1 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-2 {
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}
.v-application .mx-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-10 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-11 {
    margin-right: 4.4rem !important;
    margin-left: 4.4rem !important;
}
.v-application .mx-12 {
    margin-right: 4.8rem !important;
    margin-left: 4.8rem !important;
}
.v-application .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-1 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-2 {
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
}
.v-application .my-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-10 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-11 {
    margin-top: 4.4rem !important;
    margin-bottom: 4.4rem !important;
}
.v-application .my-12 {
    margin-top: 4.8rem !important;
    margin-bottom: 4.8rem !important;
}
.v-application .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-0 {
    margin-top: 0 !important;
}
.v-application .mt-1 {
    margin-top: .4rem !important;
}
.v-application .mt-2 {
    margin-top: .8rem !important;
}
.v-application .mt-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-5 {
    margin-top: 2rem !important;
}
.v-application .mt-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-10 {
    margin-top: .4rem !important;
}
.v-application .mt-11 {
    margin-top: 4.4rem !important;
}
.v-application .mt-12 {
    margin-top: 4.8rem !important;
}
.v-application .mt-auto {
    margin-top: auto !important;
}
.v-application .mr-0 {
    margin-right: 0 !important;
}
.v-application .mr-1 {
    margin-right: .4rem !important;
}
.v-application .mr-2 {
    margin-right: .8rem !important;
}
.v-application .mr-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-5 {
    margin-right: 2rem !important;
}
.v-application .mr-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-10 {
    margin-right: .4rem !important;
}
.v-application .mr-11 {
    margin-right: 4.4rem !important;
}
.v-application .mr-12 {
    margin-right: 4.8rem !important;
}
.v-application .mr-auto {
    margin-right: auto !important;
}
.v-application .mb-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-1 {
    margin-bottom: .4rem !important;
}
.v-application .mb-2 {
    margin-bottom: .8rem !important;
}
.v-application .mb-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-10 {
    margin-bottom: .4rem !important;
}
.v-application .mb-11 {
    margin-bottom: 4.4rem !important;
}
.v-application .mb-12 {
    margin-bottom: 4.8rem !important;
}
.v-application .mb-auto {
    margin-bottom: auto !important;
}
.v-application .ml-0 {
    margin-left: 0 !important;
}
.v-application .ml-1 {
    margin-left: .4rem !important;
}
.v-application .ml-2 {
    margin-left: .8rem !important;
}
.v-application .ml-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-5 {
    margin-left: 2rem !important;
}
.v-application .ml-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-10 {
    margin-left: 4rem !important;
}
.v-application .ml-11 {
    margin-left: 44rem !important;
}
.v-application .ml-12 {
    margin-left: 48rem !important;
}
.v-application .ml-auto {
    margin-left: auto !important;
}

.v-application .ma-sm-0 {
    margin: 0 !important;
}
.v-application .ma-sm-1 {
    margin: .4rem !important;
}
.v-application .ma-sm-2 {
    margin: .8rem !important;
}
.v-application .ma-sm-3 {
    margin: 1.2rem !important;
}
.v-application .ma-sm-4 {
    margin: 1.6rem !important;
}
.v-application .ma-sm-5 {
    margin: 2rem !important;
}
.v-application .ma-sm-6 {
    margin: 2.4rem !important;
}
.v-application .ma-sm-7 {
    margin: 2.8rem !important;
}
.v-application .ma-sm-8 {
    margin: 3.2rem !important;
}
.v-application .ma-sm-9 {
    margin: 3.6rem !important;
}
.v-application .ma-sm-10 {
    margin: 4rem !important;
}
.v-application .ma-sm-11 {
    margin: 44rem !important;
}
.v-application .ma-sm-12 {
    margin: 48rem !important;
}
.v-application .ma-sm-auto {
    margin: auto !important;
}
.v-application .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-sm-1 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-sm-2 {
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}
.v-application .mx-sm-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-sm-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-sm-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-sm-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-sm-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-sm-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-sm-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-sm-10 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.v-application .mx-sm-11 {
    margin-right: 44rem !important;
    margin-left: 44rem !important;
}
.v-application .mx-sm-12 {
    margin-right: 48rem !important;
    margin-left: 48rem !important;
}
.v-application .mx-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-sm-1 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-sm-2 {
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
}
.v-application .my-sm-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-sm-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-sm-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-sm-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-sm-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-sm-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-sm-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-sm-10 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.v-application .my-sm-11 {
    margin-top: 44rem !important;
    margin-bottom: 44rem !important;
}
.v-application .my-sm-12 {
    margin-top: 48rem !important;
    margin-bottom: 48rem !important;
}
.v-application .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-sm-0 {
    margin-top: 0 !important;
}
.v-application .mt-sm-1 {
    margin-top: .4rem !important;
}
.v-application .mt-sm-2 {
    margin-top: .8rem !important;
}
.v-application .mt-sm-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-sm-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-sm-5 {
    margin-top: 2rem !important;
}
.v-application .mt-sm-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-sm-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-sm-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-sm-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-sm-10 {
    margin-top: 4rem !important;
}
.v-application .mt-sm-11 {
    margin-top: 44rem !important;
}
.v-application .mt-sm-12 {
    margin-top: 48rem !important;
}
.v-application .mt-sm-auto {
    margin-top: auto !important;
}
.v-application .mr-sm-0 {
    margin-right: 0 !important;
}
.v-application .mr-sm-1 {
    margin-right: .4rem !important;
}
.v-application .mr-sm-2 {
    margin-right: .8rem !important;
}
.v-application .mr-sm-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-sm-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-sm-5 {
    margin-right: 2rem !important;
}
.v-application .mr-sm-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-sm-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-sm-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-sm-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-sm-10 {
    margin-right: 4rem !important;
}
.v-application .mr-sm-11 {
    margin-right: 44rem !important;
}
.v-application .mr-sm-12 {
    margin-right: 48rem !important;
}
.v-application .mr-sm-auto {
    margin-right: auto !important;
}
.v-application .mb-sm-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-sm-1 {
    margin-bottom: .4rem !important;
}
.v-application .mb-sm-2 {
    margin-bottom: .8rem !important;
}
.v-application .mb-sm-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-sm-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-sm-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-sm-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-sm-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-sm-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-sm-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-sm-10 {
    margin-bottom: 4rem !important;
}
.v-application .mb-sm-11 {
    margin-bottom: 44rem !important;
}
.v-application .mb-sm-12 {
    margin-bottom: 48rem !important;
}
.v-application .mb-sm-auto {
    margin-bottom: auto !important;
}
.v-application .ml-sm-0 {
    margin-left: 0 !important;
}
.v-application .ml-sm-1 {
    margin-left: .4rem !important;
}
.v-application .ml-sm-2 {
    margin-left: .8rem !important;
}
.v-application .ml-sm-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-sm-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-sm-5 {
    margin-left: 2rem !important;
}
.v-application .ml-sm-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-sm-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-sm-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-sm-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-sm-10 {
    margin-left: 4rem !important;
}
.v-application .ml-sm-11 {
    margin-left: 44rem !important;
}
.v-application .ml-sm-12 {
    margin-left: 48rem !important;
}
.v-application .ml-sm-auto {
    margin-left: auto !important;
}

.v-application .ma-md-0 {
    margin: 0 !important;
}
.v-application .ma-md-1 {
    margin: .4rem !important;
}
.v-application .ma-md-2 {
    margin: .8rem !important;
}
.v-application .ma-md-3 {
    margin: 1.2rem !important;
}
.v-application .ma-md-4 {
    margin: 1.6rem !important;
}
.v-application .ma-md-5 {
    margin: 2rem !important;
}
.v-application .ma-md-6 {
    margin: 2.4rem !important;
}
.v-application .ma-md-7 {
    margin: 2.8rem !important;
}
.v-application .ma-md-8 {
    margin: 3.2rem !important;
}
.v-application .ma-md-9 {
    margin: 3.6rem !important;
}
.v-application .ma-md-10 {
    margin: 4rem !important;
}
.v-application .ma-md-11 {
    margin: 44rem !important;
}
.v-application .ma-md-12 {
    margin: 48rem !important;
}
.v-application .ma-md-auto {
    margin: auto !important;
}
.v-application .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-md-1 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-md-2 {
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}
.v-application .mx-md-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-md-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-md-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-md-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-md-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-md-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-md-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-md-10 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.v-application .mx-md-11 {
    margin-right: 44rem !important;
    margin-left: 44rem !important;
}
.v-application .mx-md-12 {
    margin-right: 48rem !important;
    margin-left: 48rem !important;
}
.v-application .mx-md-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-md-1 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-md-2 {
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
}
.v-application .my-md-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-md-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-md-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-md-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-md-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-md-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-md-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-md-10 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.v-application .my-md-11 {
    margin-top: 44rem !important;
    margin-bottom: 44rem !important;
}
.v-application .my-md-12 {
    margin-top: 48rem !important;
    margin-bottom: 48rem !important;
}
.v-application .my-md-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-md-0 {
    margin-top: 0 !important;
}
.v-application .mt-md-1 {
    margin-top: .4rem !important;
}
.v-application .mt-md-2 {
    margin-top: .8rem !important;
}
.v-application .mt-md-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-md-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-md-5 {
    margin-top: 2rem !important;
}
.v-application .mt-md-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-md-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-md-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-md-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-md-10 {
    margin-top: 4rem !important;
}
.v-application .mt-md-11 {
    margin-top: 44rem !important;
}
.v-application .mt-md-12 {
    margin-top: 48rem !important;
}
.v-application .mt-md-auto {
    margin-top: auto !important;
}
.v-application .mr-md-0 {
    margin-right: 0 !important;
}
.v-application .mr-md-1 {
    margin-right: .4rem !important;
}
.v-application .mr-md-2 {
    margin-right: .8rem !important;
}
.v-application .mr-md-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-md-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-md-5 {
    margin-right: 2rem !important;
}
.v-application .mr-md-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-md-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-md-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-md-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-md-10 {
    margin-right: 4rem !important;
}
.v-application .mr-md-11 {
    margin-right: 44rem !important;
}
.v-application .mr-md-12 {
    margin-right: 48rem !important;
}
.v-application .mr-md-auto {
    margin-right: auto !important;
}
.v-application .mb-md-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-md-1 {
    margin-bottom: .4rem !important;
}
.v-application .mb-md-2 {
    margin-bottom: .8rem !important;
}
.v-application .mb-md-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-md-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-md-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-md-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-md-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-md-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-md-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-md-10 {
    margin-bottom: 4rem !important;
}
.v-application .mb-md-11 {
    margin-bottom: 44rem !important;
}
.v-application .mb-md-12 {
    margin-bottom: 48rem !important;
}
.v-application .mb-md-auto {
    margin-bottom: auto !important;
}
.v-application .ml-md-0 {
    margin-left: 0 !important;
}
.v-application .ml-md-1 {
    margin-left: .4rem !important;
}
.v-application .ml-md-2 {
    margin-left: .8rem !important;
}
.v-application .ml-md-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-md-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-md-5 {
    margin-left: 2rem !important;
}
.v-application .ml-md-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-md-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-md-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-md-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-md-10 {
    margin-left: 4rem !important;
}
.v-application .ml-md-11 {
    margin-left: 44rem !important;
}
.v-application .ml-md-12 {
    margin-left: 48rem !important;
}
.v-application .ml-md-auto {
    margin-left: auto !important;
}

.v-application .ma-lg-0 {
    margin: 0 !important;
}
.v-application .ma-lg-1 {
    margin: .4rem !important;
}
.v-application .ma-lg-2 {
    margin: .8rem !important;
}
.v-application .ma-lg-3 {
    margin: 1.2rem !important;
}
.v-application .ma-lg-4 {
    margin: 1.6rem !important;
}
.v-application .ma-lg-5 {
    margin: 2rem !important;
}
.v-application .ma-lg-6 {
    margin: 2.4rem !important;
}
.v-application .ma-lg-7 {
    margin: 2.8rem !important;
}
.v-application .ma-lg-8 {
    margin: 3.2rem !important;
}
.v-application .ma-lg-9 {
    margin: 3.6rem !important;
}
.v-application .ma-lg-10 {
    margin: 4rem !important;
}
.v-application .ma-lg-11 {
    margin: 44rem !important;
}
.v-application .ma-lg-12 {
    margin: 48rem !important;
}
.v-application .ma-lg-auto {
    margin: auto !important;
}
.v-application .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-lg-1 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-lg-2 {
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}
.v-application .mx-lg-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-lg-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-lg-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-lg-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-lg-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-lg-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-lg-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-lg-10 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.v-application .mx-lg-11 {
    margin-right: 44rem !important;
    margin-left: 44rem !important;
}
.v-application .mx-lg-12 {
    margin-right: 48rem !important;
    margin-left: 48rem !important;
}
.v-application .mx-lg-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-lg-1 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-lg-2 {
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
}
.v-application .my-lg-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-lg-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-lg-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-lg-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-lg-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-lg-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-lg-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-lg-10 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.v-application .my-lg-11 {
    margin-top: 44rem !important;
    margin-bottom: 44rem !important;
}
.v-application .my-lg-12 {
    margin-top: 48rem !important;
    margin-bottom: 48rem !important;
}
.v-application .my-lg-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-lg-0 {
    margin-top: 0 !important;
}
.v-application .mt-lg-1 {
    margin-top: .4rem !important;
}
.v-application .mt-lg-2 {
    margin-top: .8rem !important;
}
.v-application .mt-lg-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-lg-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-lg-5 {
    margin-top: 2rem !important;
}
.v-application .mt-lg-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-lg-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-lg-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-lg-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-lg-10 {
    margin-top: 4rem !important;
}
.v-application .mt-lg-11 {
    margin-top: 44rem !important;
}
.v-application .mt-lg-12 {
    margin-top: 48rem !important;
}
.v-application .mt-lg-auto {
    margin-top: auto !important;
}
.v-application .mr-lg-0 {
    margin-right: 0 !important;
}
.v-application .mr-lg-1 {
    margin-right: .4rem !important;
}
.v-application .mr-lg-2 {
    margin-right: .8rem !important;
}
.v-application .mr-lg-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-lg-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-lg-5 {
    margin-right: 2rem !important;
}
.v-application .mr-lg-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-lg-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-lg-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-lg-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-lg-10 {
    margin-right: 4rem !important;
}
.v-application .mr-lg-11 {
    margin-right: 44rem !important;
}
.v-application .mr-lg-12 {
    margin-right: 48rem !important;
}
.v-application .mr-lg-auto {
    margin-right: auto !important;
}
.v-application .mb-lg-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-lg-1 {
    margin-bottom: .4rem !important;
}
.v-application .mb-lg-2 {
    margin-bottom: .8rem !important;
}
.v-application .mb-lg-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-lg-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-lg-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-lg-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-lg-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-lg-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-lg-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-lg-10 {
    margin-bottom: 4rem !important;
}
.v-application .mb-lg-11 {
    margin-bottom: 44rem !important;
}
.v-application .mb-lg-12 {
    margin-bottom: 48rem !important;
}
.v-application .mb-lg-auto {
    margin-bottom: auto !important;
}
.v-application .ml-lg-0 {
    margin-left: 0 !important;
}
.v-application .ml-lg-1 {
    margin-left: .4rem !important;
}
.v-application .ml-lg-2 {
    margin-left: .8rem !important;
}
.v-application .ml-lg-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-lg-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-lg-5 {
    margin-left: 2rem !important;
}
.v-application .ml-lg-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-lg-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-lg-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-lg-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-lg-10 {
    margin-left: 4rem !important;
}
.v-application .ml-lg-11 {
    margin-left: 44rem !important;
}
.v-application .ml-lg-12 {
    margin-left: 48rem !important;
}
.v-application .ml-lg-auto {
    margin-left: auto !important;
}

.v-application .ma-xl-0 {
    margin: 0 !important;
}
.v-application .ma-xl-1 {
    margin: .4rem !important;
}
.v-application .ma-xl-2 {
    margin: .8rem !important;
}
.v-application .ma-xl-3 {
    margin: 1.2rem !important;
}
.v-application .ma-xl-4 {
    margin: 1.6rem !important;
}
.v-application .ma-xl-5 {
    margin: 2rem !important;
}
.v-application .ma-xl-6 {
    margin: 2.4rem !important;
}
.v-application .ma-xl-7 {
    margin: 2.8rem !important;
}
.v-application .ma-xl-8 {
    margin: 3.2rem !important;
}
.v-application .ma-xl-9 {
    margin: 3.6rem !important;
}
.v-application .ma-xl-10 {
    margin: 4rem !important;
}
.v-application .ma-xl-11 {
    margin: 44rem !important;
}
.v-application .ma-xl-12 {
    margin: 48rem !important;
}
.v-application .ma-xl-auto {
    margin: auto !important;
}
.v-application .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-xl-1 {
    margin-right: .4rem !important;
    margin-left: .4rem !important;
}
.v-application .mx-xl-2 {
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}
.v-application .mx-xl-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-xl-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-xl-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-xl-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-xl-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-xl-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-xl-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-xl-10 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.v-application .mx-xl-11 {
    margin-right: 44rem !important;
    margin-left: 44rem !important;
}
.v-application .mx-xl-12 {
    margin-right: 48rem !important;
    margin-left: 48rem !important;
}
.v-application .mx-xl-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-xl-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-xl-1 {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
}
.v-application .my-xl-2 {
    margin-top: .8rem !important;
    margin-bottom: .8rem !important;
}
.v-application .my-xl-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-xl-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-xl-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-xl-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-xl-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-xl-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-xl-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-xl-10 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.v-application .my-xl-11 {
    margin-top: 44rem !important;
    margin-bottom: 44rem !important;
}
.v-application .my-xl-12 {
    margin-top: 48rem !important;
    margin-bottom: 48rem !important;
}
.v-application .my-xl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-xl-0 {
    margin-top: 0 !important;
}
.v-application .mt-xl-1 {
    margin-top: .4rem !important;
}
.v-application .mt-xl-2 {
    margin-top: .8rem !important;
}
.v-application .mt-xl-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-xl-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-xl-5 {
    margin-top: 2rem !important;
}
.v-application .mt-xl-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-xl-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-xl-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-xl-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-xl-10 {
    margin-top: 4rem !important;
}
.v-application .mt-xl-11 {
    margin-top: 44rem !important;
}
.v-application .mt-xl-12 {
    margin-top: 48rem !important;
}
.v-application .mt-xl-auto {
    margin-top: auto !important;
}
.v-application .mr-xl-0 {
    margin-right: 0 !important;
}
.v-application .mr-xl-1 {
    margin-right: .4rem !important;
}
.v-application .mr-xl-2 {
    margin-right: .8rem !important;
}
.v-application .mr-xl-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-xl-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-xl-5 {
    margin-right: 2rem !important;
}
.v-application .mr-xl-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-xl-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-xl-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-xl-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-xl-10 {
    margin-right: 4rem !important;
}
.v-application .mr-xl-11 {
    margin-right: 44rem !important;
}
.v-application .mr-xl-12 {
    margin-right: 48rem !important;
}
.v-application .mr-xl-auto {
    margin-right: auto !important;
}
.v-application .mb-xl-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-xl-1 {
    margin-bottom: .4rem !important;
}
.v-application .mb-xl-2 {
    margin-bottom: .8rem !important;
}
.v-application .mb-xl-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-xl-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-xl-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-xl-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-xl-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-xl-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-xl-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-xl-10 {
    margin-bottom: 4rem !important;
}
.v-application .mb-xl-11 {
    margin-bottom: 44rem !important;
}
.v-application .mb-xl-12 {
    margin-bottom: 48rem !important;
}
.v-application .mb-xl-auto {
    margin-bottom: auto !important;
}
.v-application .ml-xl-0 {
    margin-left: 0 !important;
}
.v-application .ml-xl-1 {
    margin-left: .4rem !important;
}
.v-application .ml-xl-2 {
    margin-left: .8rem !important;
}
.v-application .ml-xl-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-xl-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-xl-5 {
    margin-left: 2rem !important;
}
.v-application .ml-xl-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-xl-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-xl-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-xl-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-xl-10 {
    margin-left: 4rem !important;
}
.v-application .ml-xl-11 {
    margin-left: 44rem !important;
}
.v-application .ml-xl-12 {
    margin-left: 48rem !important;
}
.v-application .ml-xl-auto {
    margin-left: auto !important;
}
