.v-application .ma-0 {
    margin: 0 !important;
}
.v-application .ma-1 {
    margin: 0.4rem !important;
}
.v-application .ma-2 {
    margin: 0.8rem !important;
}
.v-application .ma-3 {
    margin: 1.2rem !important;
}
.v-application .ma-4 {
    margin: 1.6rem !important;
}
.v-application .ma-5 {
    margin: 2rem !important;
}
.v-application .ma-6 {
    margin: 2.4rem !important;
}
.v-application .ma-7 {
    margin: 2.8rem !important;
}
.v-application .ma-8 {
    margin: 3.2rem !important;
}
.v-application .ma-9 {
    margin: 3.6rem !important;
}
.v-application .ma-10 {
    margin: 0.4rem !important;
}
.v-application .ma-11 {
    margin: 4.4rem !important;
}
.v-application .ma-12 {
    margin: 4.8rem !important;
}
.v-application .ma-auto {
    margin: auto !important;
}
.v-application .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.v-application .mx-1 {
    margin-right: 0.4rem !important;
    margin-left: 0.4rem !important;
}
.v-application .mx-2 {
    margin-right: 0.8rem !important;
    margin-left: 0.8rem !important;
}
.v-application .mx-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.v-application .mx-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.v-application .mx-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.v-application .mx-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.v-application .mx-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.v-application .mx-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.v-application .mx-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.v-application .mx-10 {
    margin-right: 0.4rem !important;
    margin-left: 0.4rem !important;
}
.v-application .mx-11 {
    margin-right: 4.4rem !important;
    margin-left: 4.4rem !important;
}
.v-application .mx-12 {
    margin-right: 4.8rem !important;
    margin-left: 4.8rem !important;
}
.v-application .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.v-application .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.v-application .my-1 {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
}
.v-application .my-2 {
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
}
.v-application .my-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.v-application .my-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.v-application .my-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.v-application .my-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.v-application .my-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.v-application .my-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.v-application .my-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.v-application .my-10 {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
}
.v-application .my-11 {
    margin-top: 4.4rem !important;
    margin-bottom: 4.4rem !important;
}
.v-application .my-12 {
    margin-top: 4.8rem !important;
    margin-bottom: 4.8rem !important;
}
.v-application .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.v-application .mt-0 {
    margin-top: 0 !important;
}
.v-application .mt-1 {
    margin-top: 0.4rem !important;
}
.v-application .mt-2 {
    margin-top: 0.8rem !important;
}
.v-application .mt-3 {
    margin-top: 1.2rem !important;
}
.v-application .mt-4 {
    margin-top: 1.6rem !important;
}
.v-application .mt-5 {
    margin-top: 2rem !important;
}
.v-application .mt-6 {
    margin-top: 2.4rem !important;
}
.v-application .mt-7 {
    margin-top: 2.8rem !important;
}
.v-application .mt-8 {
    margin-top: 3.2rem !important;
}
.v-application .mt-9 {
    margin-top: 3.6rem !important;
}
.v-application .mt-10 {
    margin-top: 0.4rem !important;
}
.v-application .mt-11 {
    margin-top: 4.4rem !important;
}
.v-application .mt-12 {
    margin-top: 4.8rem !important;
}
.v-application .mt-auto {
    margin-top: auto !important;
}
.v-application .mr-0 {
    margin-right: 0 !important;
}
.v-application .mr-1 {
    margin-right: 0.4rem !important;
}
.v-application .mr-2 {
    margin-right: 0.8rem !important;
}
.v-application .mr-3 {
    margin-right: 1.2rem !important;
}
.v-application .mr-4 {
    margin-right: 1.6rem !important;
}
.v-application .mr-5 {
    margin-right: 2rem !important;
}
.v-application .mr-6 {
    margin-right: 2.4rem !important;
}
.v-application .mr-7 {
    margin-right: 2.8rem !important;
}
.v-application .mr-8 {
    margin-right: 3.2rem !important;
}
.v-application .mr-9 {
    margin-right: 3.6rem !important;
}
.v-application .mr-10 {
    margin-right: 0.4rem !important;
}
.v-application .mr-11 {
    margin-right: 4.4rem !important;
}
.v-application .mr-12 {
    margin-right: 4.8rem !important;
}
.v-application .mr-auto {
    margin-right: auto !important;
}
.v-application .mb-0 {
    margin-bottom: 0 !important;
}
.v-application .mb-1 {
    margin-bottom: 0.4rem !important;
}
.v-application .mb-2 {
    margin-bottom: 0.8rem !important;
}
.v-application .mb-3 {
    margin-bottom: 1.2rem !important;
}
.v-application .mb-4 {
    margin-bottom: 1.6rem !important;
}
.v-application .mb-5 {
    margin-bottom: 2rem !important;
}
.v-application .mb-6 {
    margin-bottom: 2.4rem !important;
}
.v-application .mb-7 {
    margin-bottom: 2.8rem !important;
}
.v-application .mb-8 {
    margin-bottom: 3.2rem !important;
}
.v-application .mb-9 {
    margin-bottom: 3.6rem !important;
}
.v-application .mb-10 {
    margin-bottom: 4rem !important;
}
.v-application .mb-11 {
    margin-bottom: 4.4rem !important;
}
.v-application .mb-12 {
    margin-bottom: 4.8rem !important;
}
.v-application .mb-auto {
    margin-bottom: auto !important;
}
.v-application .ml-0 {
    margin-left: 0 !important;
}
.v-application .ml-1 {
    margin-left: 0.4rem !important;
}
.v-application .ml-2 {
    margin-left: 0.8rem !important;
}
.v-application .ml-3 {
    margin-left: 1.2rem !important;
}
.v-application .ml-4 {
    margin-left: 1.6rem !important;
}
.v-application .ml-5 {
    margin-left: 2rem !important;
}
.v-application .ml-6 {
    margin-left: 2.4rem !important;
}
.v-application .ml-7 {
    margin-left: 2.8rem !important;
}
.v-application .ml-8 {
    margin-left: 3.2rem !important;
}
.v-application .ml-9 {
    margin-left: 3.6rem !important;
}
.v-application .ml-10 {
    margin-left: 4rem !important;
}
.v-application .ml-11 {
    margin-left: 4.4rem !important;
}
.v-application .ml-12 {
    margin-left: 4.8rem !important;
}
.v-application .ml-auto {
    margin-left: auto !important;
}



.phone .v-application .ma-p-0 {
    margin: 0 !important;
}
.phone .v-application .ma-p-1 {
    margin: 0.4rem !important;
}
.phone .v-application .ma-p-2 {
    margin: 0.8rem !important;
}
.phone .v-application .ma-p-3 {
    margin: 1.2rem !important;
}
.phone .v-application .ma-p-4 {
    margin: 1.6rem !important;
}
.phone .v-application .ma-p-5 {
    margin: 2rem !important;
}
.phone .v-application .ma-p-6 {
    margin: 2.4rem !important;
}
.phone .v-application .ma-p-7 {
    margin: 2.8rem !important;
}
.phone .v-application .ma-p-8 {
    margin: 3.2rem !important;
}
.phone .v-application .ma-p-9 {
    margin: 3.6rem !important;
}
.phone .v-application .ma-p-10 {
    margin: 0.4rem !important;
}
.phone .v-application .ma-p-11 {
    margin: 4.4rem !important;
}
.phone .v-application .ma-p-12 {
    margin: 4.8rem !important;
}
.phone .v-application .ma-auto {
    margin: auto !important;
}
.phone .v-application .mx-p-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.phone .v-application .mx-p-1 {
    margin-right: 0.4rem !important;
    margin-left: 0.4rem !important;
}
.phone .v-application .mx-p-2 {
    margin-right: 0.8rem !important;
    margin-left: 0.8rem !important;
}
.phone .v-application .mx-p-3 {
    margin-right: 1.2rem !important;
    margin-left: 1.2rem !important;
}
.phone .v-application .mx-p-4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}
.phone .v-application .mx-p-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.phone .v-application .mx-p-6 {
    margin-right: 2.4rem !important;
    margin-left: 2.4rem !important;
}
.phone .v-application .mx-p-7 {
    margin-right: 2.8rem !important;
    margin-left: 2.8rem !important;
}
.phone .v-application .mx-p-8 {
    margin-right: 3.2rem !important;
    margin-left: 3.2rem !important;
}
.phone .v-application .mx-p-9 {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
}
.phone .v-application .mx-p-10 {
    margin-right: 0.4rem !important;
    margin-left: 0.4rem !important;
}
.phone .v-application .mx-p-11 {
    margin-right: 4.4rem !important;
    margin-left: 4.4rem !important;
}
.phone .v-application .mx-p-12 {
    margin-right: 4.8rem !important;
    margin-left: 4.8rem !important;
}
.phone .v-application .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.phone .v-application .my-p-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.phone .v-application .my-p-1 {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
}
.phone .v-application .my-p-2 {
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
}
.phone .v-application .my-p-3 {
    margin-top: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}
.phone .v-application .my-p-4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}
.phone .v-application .my-p-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.phone .v-application .my-p-6 {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}
.phone .v-application .my-p-7 {
    margin-top: 2.8rem !important;
    margin-bottom: 2.8rem !important;
}
.phone .v-application .my-p-8 {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}
.phone .v-application .my-p-9 {
    margin-top: 3.6rem !important;
    margin-bottom: 3.6rem !important;
}
.phone .v-application .my-p-10 {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
}
.phone .v-application .my-p-11 {
    margin-top: 4.4rem !important;
    margin-bottom: 4.4rem !important;
}
.phone .v-application .my-p-12 {
    margin-top: 4.8rem !important;
    margin-bottom: 4.8rem !important;
}
.phone .v-application .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.phone .v-application .mt-p-0 {
    margin-top: 0 !important;
}
.phone .v-application .mt-p-1 {
    margin-top: 0.4rem !important;
}
.phone .v-application .mt-p-2 {
    margin-top: 0.8rem !important;
}
.phone .v-application .mt-p-3 {
    margin-top: 1.2rem !important;
}
.phone .v-application .mt-p-4 {
    margin-top: 1.6rem !important;
}
.phone .v-application .mt-p-5 {
    margin-top: 2rem !important;
}
.phone .v-application .mt-p-6 {
    margin-top: 2.4rem !important;
}
.phone .v-application .mt-p-7 {
    margin-top: 2.8rem !important;
}
.phone .v-application .mt-p-8 {
    margin-top: 3.2rem !important;
}
.phone .v-application .mt-p-9 {
    margin-top: 3.6rem !important;
}
.phone .v-application .mt-p-10 {
    margin-top: 0.4rem !important;
}
.phone .v-application .mt-p-11 {
    margin-top: 4.4rem !important;
}
.phone .v-application .mt-p-12 {
    margin-top: 4.8rem !important;
}
.phone .v-application .mt-auto {
    margin-top: auto !important;
}
.phone .v-application .mr-p-0 {
    margin-right: 0 !important;
}
.phone .v-application .mr-p-1 {
    margin-right: 0.4rem !important;
}
.phone .v-application .mr-p-2 {
    margin-right: 0.8rem !important;
}
.phone .v-application .mr-p-3 {
    margin-right: 1.2rem !important;
}
.phone .v-application .mr-p-4 {
    margin-right: 1.6rem !important;
}
.phone .v-application .mr-p-5 {
    margin-right: 2rem !important;
}
.phone .v-application .mr-p-6 {
    margin-right: 2.4rem !important;
}
.phone .v-application .mr-p-7 {
    margin-right: 2.8rem !important;
}
.phone .v-application .mr-p-8 {
    margin-right: 3.2rem !important;
}
.phone .v-application .mr-p-9 {
    margin-right: 3.6rem !important;
}
.phone .v-application .mr-p-10 {
    margin-right: 0.4rem !important;
}
.phone .v-application .mr-p-11 {
    margin-right: 4.4rem !important;
}
.phone .v-application .mr-p-12 {
    margin-right: 4.8rem !important;
}
.phone .v-application .mr-auto {
    margin-right: auto !important;
}
.phone .v-application .mb-p-0 {
    margin-bottom: 0 !important;
}
.phone .v-application .mb-p-1 {
    margin-bottom: 0.4rem !important;
}
.phone .v-application .mb-p-2 {
    margin-bottom: 0.8rem !important;
}
.phone .v-application .mb-p-3 {
    margin-bottom: 1.2rem !important;
}
.phone .v-application .mb-p-4 {
    margin-bottom: 1.6rem !important;
}
.phone .v-application .mb-p-5 {
    margin-bottom: 2rem !important;
}
.phone .v-application .mb-p-6 {
    margin-bottom: 2.4rem !important;
}
.phone .v-application .mb-p-7 {
    margin-bottom: 2.8rem !important;
}
.phone .v-application .mb-p-8 {
    margin-bottom: 3.2rem !important;
}
.phone .v-application .mb-p-9 {
    margin-bottom: 3.6rem !important;
}
.phone .v-application .mb-p-10 {
    margin-bottom: 4rem !important;
}
.phone .v-application .mb-p-11 {
    margin-bottom: 4.4rem !important;
}
.phone .v-application .mb-p-12 {
    margin-bottom: 4.8rem !important;
}
.phone .v-application .mb-auto {
    margin-bottom: auto !important;
}
.phone .v-application .ml-p-0 {
    margin-left: 0 !important;
}
.phone .v-application .ml-p-1 {
    margin-left: 0.4rem !important;
}
.phone .v-application .ml-p-2 {
    margin-left: 0.8rem !important;
}
.phone .v-application .ml-p-3 {
    margin-left: 1.2rem !important;
}
.phone .v-application .ml-p-4 {
    margin-left: 1.6rem !important;
}
.phone .v-application .ml-p-5 {
    margin-left: 2rem !important;
}
.phone .v-application .ml-p-6 {
    margin-left: 2.4rem !important;
}
.phone .v-application .ml-p-7 {
    margin-left: 2.8rem !important;
}
.phone .v-application .ml-p-8 {
    margin-left: 3.2rem !important;
}
.phone .v-application .ml-p-9 {
    margin-left: 3.6rem !important;
}
.phone .v-application .ml-p-10 {
    margin-left: 4rem !important;
}
.phone .v-application .ml-p-11 {
    margin-left: 4.4rem !important;
}
.phone .v-application .ml-p-12 {
    margin-left: 4.8rem !important;
}
.phone .v-application .ml-auto {
    margin-left: auto !important;
}



.v-application .pa-0 {
    padding: 0 !important;
}
.v-application .pa-1 {
    padding: .4rem !important;
}
.v-application .pa-2 {
    padding: .8rem !important;
}
.v-application .pa-3 {
    padding: 1.2rem !important;
}
.v-application .pa-4 {
    padding: 1.6rem !important;
}
.v-application .pa-5 {
    padding: 2rem !important;
}
.v-application .pa-6 {
    padding: 2.4rem !important;
}
.v-application .pa-7 {
    padding: 2.8rem !important;
}
.v-application .pa-8 {
    padding: 3.2rem !important;
}
.v-application .pa-9 {
    padding: 3.6rem !important;
}
.v-application .pa-10 {
    padding: 4rem !important;
}
.v-application .pa-11 {
    padding: 4.4rem !important;
}
.v-application .pa-12 {
    padding: 4.8rem !important;
}
.v-application .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.v-application .px-1 {
    padding-right: .4rem !important;
    padding-left: .4rem !important;
}
.v-application .px-2 {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
}
.v-application .px-3 {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
}
.v-application .px-4 {
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
}
.v-application .px-5 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.v-application .px-6 {
    padding-right: 2.4rem !important;
    padding-left: 2.4rem !important;
}
.v-application .px-7 {
    padding-right: 2.8rem !important;
    padding-left: 2.8rem !important;
}
.v-application .px-8 {
    padding-right: 3.2rem !important;
    padding-left: 3.2rem !important;
}
.v-application .px-9 {
    padding-right: 3.6rem !important;
    padding-left: 3.6rem !important;
}
.v-application .px-10 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}
.v-application .px-11 {
    padding-right: 4.4rem !important;
    padding-left: 4.4rem !important;
}
.v-application .px-12 {
    padding-right: 4.8rem !important;
    padding-left: 4.8rem !important;
}
.v-application .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.v-application .py-1 {
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
}
.v-application .py-2 {
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
}
.v-application .py-3 {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}
.v-application .py-4 {
    padding-top: 1.6rem !important;
    padding-bottom: 1.6rem !important;
}
.v-application .py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.v-application .py-6 {
    padding-top: 2.4rem !important;
    padding-bottom: 2.4rem !important;
}
.v-application .py-7 {
    padding-top: 2.8rem !important;
    padding-bottom: 2.8rem !important;
}
.v-application .py-8 {
    padding-top: 3.2rem !important;
    padding-bottom: 3.2rem !important;
}
.v-application .py-9 {
    padding-top: 3.6rem !important;
    padding-bottom: 3.6rem !important;
}
.v-application .py-10 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.v-application .py-11 {
    padding-top: 4.4rem !important;
    padding-bottom: 4.4rem !important;
}
.v-application .py-12 {
    padding-top: 4.8rem !important;
    padding-bottom: 4.8rem !important;
}
.v-application .pt-0 {
    padding-top: 0 !important;
}
.v-application .pt-1 {
    padding-top: .4rem !important;
}
.v-application .pt-2 {
    padding-top: .8rem !important;
}
.v-application .pt-3 {
    padding-top: 1.2rem !important;
}
.v-application .pt-4 {
    padding-top: 1.6rem !important;
}
.v-application .pt-5 {
    padding-top: 2rem !important;
}
.v-application .pt-6 {
    padding-top: 2.4rem !important;
}
.v-application .pt-7 {
    padding-top: 2.8rem !important;
}
.v-application .pt-8 {
    padding-top: 3.2rem !important;
}
.v-application .pt-9 {
    padding-top: 3.6rem !important;
}
.v-application .pt-10 {
    padding-top: 4rem !important;
}
.v-application .pt-11 {
    padding-top: 4.4rem !important;
}
.v-application .pt-12 {
    padding-top: 4.8rem !important;
}
.v-application .pr-0 {
    padding-right: 0 !important;
}
.v-application .pr-1 {
    padding-right: .4rem !important;
}
.v-application .pr-2 {
    padding-right: .8rem !important;
}
.v-application .pr-3 {
    padding-right: 1.2rem !important;
}
.v-application .pr-4 {
    padding-right: 1.6rem !important;
}
.v-application .pr-5 {
    padding-right: 2rem !important;
}
.v-application .pr-6 {
    padding-right: 2.4rem !important;
}
.v-application .pr-7 {
    padding-right: 2.8rem !important;
}
.v-application .pr-8 {
    padding-right: 3.2rem !important;
}
.v-application .pr-9 {
    padding-right: 3.6rem !important;
}
.v-application .pr-10 {
    padding-right: 4rem !important;
}
.v-application .pr-11 {
    padding-right: 4.4rem !important;
}
.v-application .pr-12 {
    padding-right: 4.8rem !important;
}
.v-application .pb-0 {
    padding-bottom: 0 !important;
}
.v-application .pb-1 {
    padding-bottom: .4rem !important;
}
.v-application .pb-2 {
    padding-bottom: .8rem !important;
}
.v-application .pb-3 {
    padding-bottom: 1.2rem !important;
}
.v-application .pb-4 {
    padding-bottom: 1.6rem !important;
}
.v-application .pb-5 {
    padding-bottom: 2rem !important;
}
.v-application .pb-6 {
    padding-bottom: 2.4rem !important;
}
.v-application .pb-7 {
    padding-bottom: 2.8rem !important;
}
.v-application .pb-8 {
    padding-bottom: 3.2rem !important;
}
.v-application .pb-9 {
    padding-bottom: 3.6rem !important;
}
.v-application .pb-10 {
    padding-bottom: 4rem !important;
}
.v-application .pb-11 {
    padding-bottom: 4.4rem !important;
}
.v-application .pb-12 {
    padding-bottom: 4.8rem !important;
}
.v-application .pl-0 {
    padding-left: 0 !important;
}
.v-application .pl-1 {
    padding-left: .4rem !important;
}
.v-application .pl-2 {
    padding-left: .8rem !important;
}
.v-application .pl-3 {
    padding-left: 1.2rem !important;
}
.v-application .pl-4 {
    padding-left: 1.6rem !important;
}
.v-application .pl-5 {
    padding-left: 2rem !important;
}
.v-application .pl-6 {
    padding-left: 2.4rem !important;
}
.v-application .pl-7 {
    padding-left: 2.8rem !important;
}
.v-application .pl-8 {
    padding-left: 3.2rem !important;
}
.v-application .pl-9 {
    padding-left: 3.6rem !important;
}
.v-application .pl-10 {
    padding-left: 4rem !important;
}
.v-application .pl-11 {
    padding-left: 4.4rem !important;
}
.v-application .pl-12 {
    padding-left: 4.8rem !important;
}

.phone .v-application .pa-p-0 {
    padding: 0 !important;
}
.phone .v-application .pa-p-1 {
    padding: .4rem !important;
}
.phone .v-application .pa-p-2 {
    padding: .8rem !important;
}
.phone .v-application .pa-p-3 {
    padding: 1.2rem !important;
}
.phone .v-application .pa-p-4 {
    padding: 1.6rem !important;
}
.phone .v-application .pa-p-5 {
    padding: 2rem !important;
}
.phone .v-application .pa-p-6 {
    padding: 2.4rem !important;
}
.phone .v-application .pa-p-7 {
    padding: 2.8rem !important;
}
.phone .v-application .pa-p-8 {
    padding: 3.2rem !important;
}
.phone .v-application .pa-p-9 {
    padding: 3.6rem !important;
}
.phone .v-application .pa-p-10 {
    padding: 4rem !important;
}
.phone .v-application .pa-p-11 {
    padding: 4.4rem !important;
}
.phone .v-application .pa-p-12 {
    padding: 4.8rem !important;
}
.phone .v-application .px-p-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.phone .v-application .px-p-1 {
    padding-right: .4rem !important;
    padding-left: .4rem !important;
}
.phone .v-application .px-p-2 {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
}
.phone .v-application .px-p-3 {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
}
.phone .v-application .px-p-4 {
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
}
.phone .v-application .px-p-5 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.phone .v-application .px-p-6 {
    padding-right: 2.4rem !important;
    padding-left: 2.4rem !important;
}
.phone .v-application .px-p-7 {
    padding-right: 2.8rem !important;
    padding-left: 2.8rem !important;
}
.phone .v-application .px-p-8 {
    padding-right: 3.2rem !important;
    padding-left: 3.2rem !important;
}
.phone .v-application .px-p-9 {
    padding-right: 3.6rem !important;
    padding-left: 3.6rem !important;
}
.phone .v-application .px-p-10 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}
.phone .v-application .px-p-11 {
    padding-right: 4.4rem !important;
    padding-left: 4.4rem !important;
}
.phone .v-application .px-p-12 {
    padding-right: 4.8rem !important;
    padding-left: 4.8rem !important;
}
.phone .v-application .py-p-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.phone .v-application .py-p-1 {
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
}
.phone .v-application .py-p-2 {
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
}
.phone .v-application .py-p-3 {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}
.phone .v-application .py-p-4 {
    padding-top: 1.6rem !important;
    padding-bottom: 1.6rem !important;
}
.phone .v-application .py-p-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.phone .v-application .py-p-6 {
    padding-top: 2.4rem !important;
    padding-bottom: 2.4rem !important;
}
.phone .v-application .py-p-7 {
    padding-top: 2.8rem !important;
    padding-bottom: 2.8rem !important;
}
.phone .v-application .py-p-8 {
    padding-top: 3.2rem !important;
    padding-bottom: 3.2rem !important;
}
.phone .v-application .py-p-9 {
    padding-top: 3.6rem !important;
    padding-bottom: 3.6rem !important;
}
.phone .v-application .py-p-10 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.phone .v-application .py-p-11 {
    padding-top: 4.4rem !important;
    padding-bottom: 4.4rem !important;
}
.phone .v-application .py-p-12 {
    padding-top: 4.8rem !important;
    padding-bottom: 4.8rem !important;
}
.phone .v-application .pt-p-0 {
    padding-top: 0 !important;
}
.phone .v-application .pt-p-1 {
    padding-top: .4rem !important;
}
.phone .v-application .pt-p-2 {
    padding-top: .8rem !important;
}
.phone .v-application .pt-p-3 {
    padding-top: 1.2rem !important;
}
.phone .v-application .pt-p-4 {
    padding-top: 1.6rem !important;
}
.phone .v-application .pt-p-5 {
    padding-top: 2rem !important;
}
.phone .v-application .pt-p-6 {
    padding-top: 2.4rem !important;
}
.phone .v-application .pt-p-7 {
    padding-top: 2.8rem !important;
}
.phone .v-application .pt-p-8 {
    padding-top: 3.2rem !important;
}
.phone .v-application .pt-p-9 {
    padding-top: 3.6rem !important;
}
.phone .v-application .pt-p-10 {
    padding-top: 4rem !important;
}
.phone .v-application .pt-p-11 {
    padding-top: 4.4rem !important;
}
.phone .v-application .pt-p-12 {
    padding-top: 4.8rem !important;
}
.phone .v-application .pr-p-0 {
    padding-right: 0 !important;
}
.phone .v-application .pr-p-1 {
    padding-right: .4rem !important;
}
.phone .v-application .pr-p-2 {
    padding-right: .8rem !important;
}
.phone .v-application .pr-p-3 {
    padding-right: 1.2rem !important;
}
.phone .v-application .pr-p-4 {
    padding-right: 1.6rem !important;
}
.phone .v-application .pr-p-5 {
    padding-right: 2rem !important;
}
.phone .v-application .pr-p-6 {
    padding-right: 2.4rem !important;
}
.phone .v-application .pr-p-7 {
    padding-right: 2.8rem !important;
}
.phone .v-application .pr-p-8 {
    padding-right: 3.2rem !important;
}
.phone .v-application .pr-p-9 {
    padding-right: 3.6rem !important;
}
.phone .v-application .pr-p-10 {
    padding-right: 4rem !important;
}
.phone .v-application .pr-p-11 {
    padding-right: 4.4rem !important;
}
.phone .v-application .pr-p-12 {
    padding-right: 4.8rem !important;
}
.phone .v-application .pb-p-0 {
    padding-bottom: 0 !important;
}
.phone .v-application .pb-p-1 {
    padding-bottom: .4rem !important;
}
.phone .v-application .pb-p-2 {
    padding-bottom: .8rem !important;
}
.phone .v-application .pb-p-3 {
    padding-bottom: 1.2rem !important;
}
.phone .v-application .pb-p-4 {
    padding-bottom: 1.6rem !important;
}
.phone .v-application .pb-p-5 {
    padding-bottom: 2rem !important;
}
.phone .v-application .pb-p-6 {
    padding-bottom: 2.4rem !important;
}
.phone .v-application .pb-p-7 {
    padding-bottom: 2.8rem !important;
}
.phone .v-application .pb-p-8 {
    padding-bottom: 3.2rem !important;
}
.phone .v-application .pb-p-9 {
    padding-bottom: 3.6rem !important;
}
.phone .v-application .pb-p-10 {
    padding-bottom: 4rem !important;
}
.phone .v-application .pb-p-11 {
    padding-bottom: 4.4rem !important;
}
.phone .v-application .pb-p-12 {
    padding-bottom: 4.8rem !important;
}
.phone .v-application .pl-p-0 {
    padding-left: 0 !important;
}
.phone .v-application .pl-p-1 {
    padding-left: .4rem !important;
}
.phone .v-application .pl-p-2 {
    padding-left: .8rem !important;
}
.phone .v-application .pl-p-3 {
    padding-left: 1.2rem !important;
}
.phone .v-application .pl-p-4 {
    padding-left: 1.6rem !important;
}
.phone .v-application .pl-p-5 {
    padding-left: 2rem !important;
}
.phone .v-application .pl-p-6 {
    padding-left: 2.4rem !important;
}
.phone .v-application .pl-p-7 {
    padding-left: 2.8rem !important;
}
.phone .v-application .pl-p-8 {
    padding-left: 3.2rem !important;
}
.phone .v-application .pl-p-9 {
    padding-left: 3.6rem !important;
}
.phone .v-application .pl-p-10 {
    padding-left: 4rem !important;
}
.phone .v-application .pl-p-11 {
    padding-left: 4.4rem !important;
}
.phone .v-application .pl-p-12 {
    padding-left: 4.8rem !important;
}
