:root {
    /* Common */
    --font-family: "Montserrat", sans-serif;

    /* Headings */

    --font-size-heading1: 120px;
    --font-line-height-heading1: 146px;
    --font-weight-heading1: 300;
    --font-size-heading1-accent: 130px;
    --font-line-height-heading1-accent: 159px;
    --font-weight-heading1-accent: 600;

    --font-size-heading2: 64px;
    --font-line-height-heading2: 78px;
    --font-weight-heading2: 600;

    /* Body text */

    --font-size-body-1: 32px;
    --font-line-height-body-1: 39px;
    --font-weight-body-1: 400;

    --font-size-body-2: 28px;
    --font-line-height-body-2: 34px;
    --font-weight-body-2: 400;

    --font-size-body-3: 24px;
    --font-line-height-body-3: 29px;
    --font-weight-body-3: 300;

    --font-size-body-4: 18px;
    --font-line-height-body-4: 22px;
    --font-weight-body-4: 600;
}

.body-1 {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-body-1);
    line-height: var(--font-line-height-body-1);
}

.body-2 {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-body-2);
    line-height: var(--font-line-height-body-2);
}

.body-3 {
    font-size: var(--font-size-body-4);
    font-weight: var(--font-weight-body-4);
    line-height: var(--font-line-height-body-4);
}

h1,
.heading1 {
    font-size: var(--font-size-heading1);
    font-weight: var(--font-weight-heading1);
    line-height: var(--font-line-height-heading1);
}

.heading1-accent {
    font-size: var(--font-size-heading1-accent);
    font-weight: var(--font-weight-heading1-accent);
    line-height: var(--font-line-height-heading1-accent);
}

h2,
.heading2 {
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-heading2);
    line-height: var(--font-line-height-heading2);
}
