:root {
    /* Common */
    --font-family: "Montserrat", sans-serif;

    /* Headings */

    --font-size-heading1: 12rem;
    --font-line-height-heading1: 11rem;
    --font-weight-heading1: 300;
    --font-size-heading1-accent: 13rem;
    --font-line-height-heading1-accent: 15.9rem;
    --font-weight-heading1-accent: 600;

    --font-size-heading2: 6.4rem;
    --font-line-height-heading2: 7.8rem;
    --font-weight-heading2: 600;

    --font-size-heading3: 5.6rem;
    --font-line-height-heading3: 6.8rem;
    --font-weight-heading3: 400;


    /* Body text */

    --font-size-body-1: 3.2rem;
    --font-line-height-body-1: 3.9rem;
    --font-weight-body-1: 400;

    --font-size-body-2: 2.8rem;
    --font-line-height-body-2: 3.4rem;
    --font-weight-body-2: 400;

    --font-size-body-3: 2.4rem;
    --font-line-height-body-3: 2.9rem;
    --font-weight-body-3: 300;

    --font-size-body-4: 1.8rem;
    --font-line-height-body-4: 2.2rem;
    --font-weight-body-4: 600;
}

.v-application .body-1 {
    letter-spacing: 0 !important;
    font-family: var(--font-family) !important;
    font-size: var(--font-size-body-1) !important;
    font-weight: var(--font-weight-body-1);
    line-height: var(--font-line-height-body-1) !important;
}

.v-application .body-2 {
    letter-spacing: 0 !important;
    font-family: var(--font-family) !important;
    font-size: var(--font-size-body-2) !important;
    font-weight: var(--font-weight-body-2);
    line-height: var(--font-line-height-body-2) !important;
}

.v-application .body-3 {
    letter-spacing: 0 !important;
    font-family: var(--font-family) !important;
    font-size: var(--font-size-body-4) !important;
    font-weight: var(--font-weight-body-4);
    line-height: var(--font-line-height-body-4) !important;
}

h1,
.heading1 {
    font-size: var(--font-size-heading1);
    font-weight: var(--font-weight-heading1);
    line-height: var(--font-line-height-heading1);
}

.heading1-accent {
    font-size: var(--font-size-heading1-accent);
    font-weight: var(--font-weight-heading1-accent);
    line-height: var(--font-line-height-heading1-accent);
}

h2,
.heading2 {
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-heading2);
    line-height: var(--font-line-height-heading2);
}


