.add-item-dialog__btn { 
    display: block;
    margin-left: auto;
    margin-top: .8rem;
}

.add-item-dialog__popup-content .item-list {
    width: 78rem;
}

.add-item-dialog__popup-content {
    padding: 8rem 7rem 6rem;
}

.phone .add-item-dialog__btn .v-btn.theme--dark {
    height: 4rem;
    padding: 0 4rem;
    font-size: var(--font-size-phone-body-3);
    line-height: var(--font-line-height-phone-body-3);
}