.search-suggestions {
    position: relative;
}

.search-suggestions--loading:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: var(--v-secondary-base);
    opacity: .5;
    border-radius: .8rem;
}

.search-suggestions__search-box {
    position: relative;
    width: 58rem;
    margin-bottom: 1rem;
}

.search-suggestions__search-input {
    position: relative;
}

.search-suggestions__search-input .v-text-field__slot {
    padding-left: 5rem;
}

.search-suggestions__search-input .v-input__prepend-outer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    margin-top: 0 !important;
    z-index: 1;
}

.search-suggestions__search-input .v-input__slot {
    margin-bottom: 0;
}

.search-suggestions__search-input .v-text-field__details {
    display: none;
}

.search-suggestions__search-input .v-select__slot {
    padding-left: 4rem;
}

.theme--dark.v-list-item--disabled {
    background-color: var(--v-grey800-base);
}

.theme--dark.v-list-item--disabled .v-avatar {
    opacity: .5;
}

.search-suggestions__search-btn.v-btn:not(.v-btn--round).v-size--large {
    position: absolute;
    top: 0;
    right: -20rem;
    height: 10rem;
    margin-left: 1.6rem;
}

.phone .search-suggestions__search-btn.v-btn:not(.v-btn--round).v-size--large {
    margin-left: auto;
    height: 6rem;
    width: 100%;
    right: 0;
    text-indent: -9999px;
    width: 6rem;
    min-width: 6rem;
    padding: 0;
    /* position: relative;
    right: auto;
    margin-top: .8rem; */
}

.phone .theme--dark.v-input.search-suggestions__search-input {
    margin-right: 7rem;
}

.phone .search-suggestions__search-input.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    padding-left: 0;
}

.phone .search-suggestions__search-input.v-text-field.v-text-field--solo .v-input__prepend-outer, 
.phone .search-suggestions__search-input.v-text-field.v-text-field--solo .v-input__append-outer {
    left: auto;
    right: -6.2rem;
}

.tablet .search-suggestions__search-input .v-input__prepend-outer {
    top: 5rem;
}

.tablet .search-suggestions__search-box,
.phone .search-suggestions__search-box {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}

.tablet .search-suggestions__search-box {
    width: 45.5rem;
}

.tablet .add-item-dialog__popup-content .item-list {
    width: 65.5rem;
}

.phone .search-suggestions__search-box {
    width: auto;
}

.phone .add-item-dialog__popup-content .item-list {
    width: auto;
}

.tablet .v-avatar.v-list-item__avatar {
    width: 5rem !important;
    min-width: 5rem !important;
    height: 5rem !important;
    justify-content: center;
}

.tablet .v-avatar.v-list-item__avatar .v-icon {
    width: 3rem;
    height: 3rem;
}