{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block content %}

    <div style="padding: 2rem">
        <p><a href="{% url 'vue_app_01' %}" style="color: white">Demo</a></p>
        <p><a href="{% url 'login' %}" style="color: white">Login</a></p>
        <p><a href="{% url 'signup' %}" style="color: white">Sign Up</a></p>
        <p><a href="{% url 'logout' %}" style="color: white">Logout</a></p>
    </div>

    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'Home' %}

{% endblock %}