.auth-box {
    padding: 2.2rem 5.7rem 4rem;
    box-shadow: 0 .3rem .6rem #00000029;
    width: 64rem;
    margin: 0 auto 5rem;
    position: relative;
}

.auth-box__header {
    font-weight: 600;
    color: var(--v-grey200-base);
    text-transform: uppercase;
}

.auth-box__submit {
    position: absolute !important;
    left: 5.4rem;
    bottom: -2.7rem;
    width: 24.8rem;
}

.v-application a.auth-box__signup-link{
    text-transform: uppercase;
    color: var(--v-grey400-base);
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    right: 1rem;
    bottom: -5rem;
    font-size: var(--font-size-body-2);
    line-height: var(--font-line-height-body-2);
}