.stripe {
    position: absolute;
    transform: rotate(10deg);
    left: 17rem;
}

.stripe--dark {
    background-color: var(--v-grey970-base);
    /* background-color: yellow; */
    left: -30rem;
    box-shadow: 0px 3px 12px #15151529;
    width: 48rem;
    z-index: 2;
    top: -20rem;
    bottom: -20rem;
}

.stripe--light {
    background-color: var(--v-grey960-base);
    /* background-color: red; */
    box-shadow: 0px 3px 12px #15151529;
    width: 12rem;
    z-index: 2;
    top: -20rem;
    bottom: -20rem;
    
}

.stripe--lighter {
    background-color: var(--v-grey950-base);
    box-shadow: 0px 4px 16px #15151529;
    /* background-color: green; */
    z-index: 1;
    width: 24rem;
    top: -20rem;
    bottom: -20rem;
}