.form-text-field .label {
    margin: .4rem;
}

.form-text-field--horizontal {
    display: flex;
}

.form-text-field--horizontal .label {
    margin: 0;
    margin-top: 1.4rem;
    flex-basis: 32rem;
    font-size: var(--font-size-body-2);
    line-height: var(--font-line-height-body-2);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--v-grey200-base);
}

.form-text-field--horizontal .v-text-field.v-text-field--solo .v-input__control {
    min-height: 7rem;
}

.form-text-field--horizontal .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
    background-color: var(--v-grey800-base);
}

.form-text-field--horizontal .v-text-field__details {
    display: none;
}

.form-text-field--horizontal .v-input__slot {
    margin-bottom: 0;
}

.phone .form-text-field--horizontal {
    display: block;
}

.phone .form-text-field--horizontal .label {
    margin-bottom: 1.6rem;
}