.chip-box__header {
    font-size: var(--font-size-body-1);
    line-height: var(--font-line-height-body-1);
    font-weight: 400;
    margin-bottom: 0.8rem;
    margin-top: 3.2rem;
}

.chip-box__content {
    display: flex;
}

.chip-box-card {
    width: 75rem;
    height: 11.5rem;
}
